:root {
    --bg: #f5f7fa;
    --card: #fff;
    --accent: #0078ff;
    --text: #222;
    --muted: #666;
    --android: #3DDB85;
    --windows: #00A4EF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: 'Inter', sans-serif;
    background: var(--bg);
    color: var(--text);
    padding: 40px 20px;
}

header {
    text-align: center;
    margin-bottom: 20px
}

/* header img {
    height: 60px;
    margin-bottom: 12px
}

header h1 {
    font-size: 32px;
    font-weight: 600
} */

#list {
    display: grid;
    gap: 32px;
    max-width: 1200px;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    /* 电脑端 2 列 */
}

@media(max-width:768px) {
    #list {
        grid-template-columns: 1fr
    }

    .header-bar-title h1 {
        display: none;
    }

    /* 移动端 1 列 */
}

.header-bar-title img {
    width: 200px;
    height: 90px;
    color: #202020;
    -webkit-filter: invert(1);
    filter: invert(1);
}

.card {
    background: var(--card);
    border-radius: 16px;
    padding: 32px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, .06);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 14px
}

.logo-area img {
    width: 48px;
    height: 48px;
    object-fit: contain
}

.title-area h2 {
    font-size: 24px;
    font-weight: 600
}

.title-area small {
    color: var(--muted)
}

.desc {
    line-height: 1.6;
    color: var(--muted)
}

.buttons {
    margin-top: auto;
    /* 把按钮压到底部 */
    display: flex;
    justify-content: flex-end;
    /* 所有按钮整体靠右 */
    gap: 12px;
    flex-wrap: wrap;
}

.btn {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    padding: 10px 20px;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    transition: opacity .2s;
}

.btn:hover {
    opacity: .85
}

.btn.android {
    background: var(--android)
}

.btn.windows {
    background: var(--windows)
}

.btn.qr {
    background: #28a745
}

.btn i {
    font-size: 16px
}

.footer-bar {
    margin-top: 10px;
    text-align: center;
    color: #666;
    font-size: 15px;
    padding: 10px;
}

.footer-bar a {
    text-decoration: underline !important;
    color: #28b96c;
}
